<!DOCTYPE html>
<html>
    <head th:replace="~{base :: head}"></head>
    <body>
    <div th:replace="~{base :: logo}"></div>
        <div class="container">
            <div th:replace="~{base :: titulo('Novo Pedido')}"></div>
            <div class="card">
                <form th:object= "${produtoDto}" class="card-body " action="/pedido/novo" method="post" >
                    <div class="form-group">
                        <label for="nome" >Produto</label>
                        <input type="text" th:field="*{nome}" th:errorclass="is-invalid" class="form-control " placeholder="nome do produto">
                        <div class="invalid-feedback" th:errors="*{nome}">O nome do produto deve ser preenchido</div>
                        <div class="mb-4"><small>infome o nome do produto.</small> </div>
                    </div>
                    <div>
                        <label for="valor">Valor</label>
                        <input th:field="*{valor}"  th:errorclass="is-invalid" class="form-control " placeholder="valor do produto">
                        <div class="invalid-feedback" th:errors="*{valor}">O valor do produto deve ser preenchido</div>
                        <div class="mb-4"><small>infome o valor do produto.</small> </div>
                    </div>
                    <div>
                        <label for="urlProduto">Url</label>
                        <input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control " placeholder="url do produto">
                        <div class="invalid-feedback" th:errors="*{urlProduto}">O url do produto do produto deve ser preenchido</div>
                        <div class="mb-4"><small>infome a URL do produto.</small> </div>
                    </div>
                    <div>
                        <label for="urlImagem">Url</label>
                        <input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" placeholder="url da imagem">
                        <div class="invalid-feedback" th:errors="*{urlImagem}">O url da imagem do produto deve ser preenchido</div>
                        <div class="mb-4"><small>infome a URL da imagem do produto.</small> </div>
                    </div>
                    <div>
                        <label for="descricao">Descricao</label>
                        <textarea name="descricao" th:errorclass="is-invalid" class="form-control  " placeholder="descricao do produto"></textarea>
                        <div class="invalid-feedback" th:errors="*{descricao}">A Descricao do produto deve ser preenchido</div>
                        <div class="mb-4"><small>infome a descricao  do produto.</small> </div>
                    </div>

                    <button class="btn btn-secondary" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </body>
</html>
