<!DOCTYPE html>
<html>

    <head th:replace="~{base :: head}">
    </head>
    <body>
    <div th:replace="~{base :: logo}"></div>
        <div class="container">
            <div th:replace="~{base :: titulo('Meus Pedidos')}"></div>
            <nav class="navbar navbar-expand bg-light d-flex justify-content-between">
                <div class="navbar-nav">
                    <a th:classappend =" ${status} == null ? 'active'" class= "nav-item nav-link " href="/home">Todos</a>
                    <a th:classappend =" ${status} == 'aguardando' ? 'active'" class="nav-item nav-link" href= "/home/aguardando">Aguardando</a>
                    <a th:classappend =" ${status} == 'aprovado' ? 'active'" class="nav-item nav-link" href= "/home/aprovado">Aprovado</a>
                    <a th:classappend =" ${status} == 'entregue' ? 'active'" class="nav-item nav-link" href= "/home/entregue">Entregue</a>
                </div>
                <a href="pedido/formulario"><button class="btn btn-secondary my-2 my-sm-0" >Novo</button></a>
            </nav>

            <div class="card mb-3" th:each="itemPedido : ${itemPedidos}" >
                <th:block th:switch="${itemPedido.pedido.status.name()}">
                    <div th:case="'AGUARDANDO'" class="alert alert-warning card-header" th:text="${itemPedido.produto.nome}">Nome do Produto</div>
                    <div th:case="'APROVADO'" class="alert alert-success card-header" th:text="${itemPedido.produto.nome}">Nome do Produto</div>
                    <div th:case="'ENTREGUE'" class="alert alert-dark card-header" th:text="${itemPedido.produto.nome}">Nome do Produto</div>
                </th:block>
                    <div class="card body">
                        <div class="row">
                            <div class="col-12 col-sm-8 mb-3">
                                <div class="row">
                                    <div class="col-md-5">Valor: <span th:if="${itemPedido.produto.valor} != null" th:text="${#numbers.formatCurrency(itemPedido.produto.valor)}"></span></div>
                                    <div class="col-md-7">Data: <span th:text="${#temporals.format(itemPedido.pedido.dateTime, 'dd/MM/yyyy')}"></span> </div>
                                </div>
                                <div> Produto</div>
                                <div> <input class="form-control" th:value="${itemPedido.produto.urlProduto}" value=" url do produto"  /></div>
                                <div>Descrição</div>
                                <div><textarea class="form-control" th:text="${itemPedido.produto.descricao}">descrição do pedido</textarea></div>
                            </div>
                                <div class="col-12 col-sm-4">
                                    <div><img class="img-thumbnail" th:src= "${itemPedido.produto.urlImagem}" src=""></div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>