<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="produto : ${produtos}">
    <div th:text="${produto.nome}">Nome do Produto</div>
    <div>Valor:<span th:text="${produto.valor}"></span></div>

    <div> Produto</div>
    <div> <textarea th:text="${produto.urlProduto}">  </textarea></div>

    <div>Descrição</div>
    <div>
        <textarea th:text="${produto.descricao}">descrição do pedido</textarea>
    </div>
    <div>
        <img th:src= "${produto.urlImagem}" src="">
    </div>

</div>

</body>
</html>